body {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.container {
    width: 15%;
    border: 5px;
    border-color: rgb(17, 110, 144);
    border-style: solid;
    border-radius: 10px;
    background-color: rgb(204, 240, 255);
    text-align: center;
    padding: 10px 5px;
}

.inside {
    color: rgb(17, 110, 144);
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 5px;
    background-color: rgb(204, 240, 255);
    border-color: rgb(17, 110, 144);
    border-radius: 5px;
    margin: 10px;
}

.button-container {
    background-color: rgb(148, 87, 198);
    border-color: rgb(17, 110, 144);
    border-width: 2px;
    border-radius: 10px;
    margin: 10px;
}