body {
    background-color: #242424;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
  gap: 10px;
  justify-content: center;
  margin-top: 50px;
}

.square {
  font-size: 5rem;
  font-weight: bold;
  color: #39ff14; /* neon green */
  background-color: #111;
  border: 2px solid #39ff14;
  border-radius: 50px;
  cursor: pointer;
}

.square:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}