.container {
    background-color: #FF595E;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.title {
    width: 100%;
    height: 1em;
    font-weight: 500;
    padding: 5px 5px 20px;
}

img {
    width: 20%;
    height: 40%;
}
.rank {
}

.stats {
    justify-items: flex-end;
    flex-grow: 1;
}