.calculator {
    box-sizing: border-box;
    background-color: black;
    height: 95vh;
    aspect-ratio: 9/16;
    justify-self: center;
    justify-content: center;
    border-radius: 20px;
    padding: 20px;
}

.screen {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    height: 15%;
    align-items: center;
    padding: 20px;
}

.screen input {
    border-radius: 10px;
    width: 100%;
    background-color: #222222;
    border: 1px solid #000000;
}

#prev_calc {
    height: 25%;
}

#curr_calc {
    height: 65%;
    color: white;
    font-size: 5rem;
    text-align: end;
}

.buttons_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    height: 50%;
    row-gap: 6%;
    padding: 5px;
}

.buttons_container button {
    border-radius: 50%;
    aspect-ratio: 1;
    border: 5px solid black;
    cursor: pointer;
    color: white;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

.misc_btn {
    background-color: #5a5a5b;
}

.misc_btn:hover {
    background-color: #494949;
}

.misc_btn:active {
    background-color: #272727;
}

.number_btn {
    background-color: #2f2f2f;
}

.number_btn:hover {
    background-color: #1e1e1e;
}

.number_btn:active {
    background-color: #0c0c0c;
}

.operator_btn {
    background-color: #ff9300;
}
.operator_btn:hover {
    background-color: #ee8200;
}

.operator_btn:active {
    background-color: #cc6000;
}

#backspace {
    justify-self: center;
    align-self: center;
    width: 80%;
}