.box_container {
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    min-height: 30vh;
    margin: 10px;
}

.buttons {
    width: 30%;
    height: 30%;
    background-color: #d4bcfb;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 10px #222222;
    transition: .5s all ease;
}

.buttons:hover {
    background-color: #dbd0ec;
    cursor: pointer;
    scale: 1.05;
}

.containers {
    width: 20%;
    border-radius: 15px;
    border-width: 5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .5s ease;
    box-shadow: 5px 5px 15px #333333;
}

.memory_container {
    border: 2px solid #459CB7;
    background-color: #b44ac2;
}

.memory_container:hover {
    box-shadow: 5px 5px 5px #89DFFB;
}

.in_game_container {
    border: 2px solid #D0B166;
    background-color: #7c07fa;
}
.in_game_container:hover {
    box-shadow: 5px 5px 5px #F4F5AA;
}

.quotes_container {
    border: 2px solid #70053D;
    background-color: #4700e0;
}

.quotes_container:hover {
    box-shadow: 5px 5px 5px #B3497F;
}

.date_container {
    border: 2px solid #4CAF50;
    background-color: #9f00f2;
}

.date_container:hover {
    box-shadow: 5px 5px 5px #A5D6A7;
}

.memories_menu {
    background-color: transparent;
}

.memories_gallery {
    background-color: transparent;
    column-count: 4;
    column-gap: 5px
}

.memories_gallery img{
    width:100%;
    margin: 0px;
    border: 2px solid black;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.memories_gallery img:hover {
    transform: scale(1.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

#bg_jellyfish {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    opacity: .9;
}